.adsbygoogle
{
  margin: 15px auto;
  border: none;
}

.ads-post-top
{
  height: 280px;
  margin-bottom: 1.5rem;
}

.ads-post-bottom
{
  height: 280px;
  margin-top: 1.5rem;
}

.ads-sidebar
{
  height: 360px;
}

code
{
  background: #263238;
  color: white;
}
